nav{
    float: right;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    list-style: none;
}

ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

 ul li a:hover,
 ul li a.active{
    background: blue;
    color: #fff;
    transition: 0.5s;
}

.imglogo{
    width: 11%;
}

@media (max-width: 768px){
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: blue;
    }

    .menu-toggle::before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .menu-toggle.active::before{
        content: '\f00d';
    }

    nav{
        display: none;
    }

    ul.active{
        display: block;
        width: 100%;
    }

    ul.active ul{
        display: block;
    }

    ul.active ul li{
        margin: 0;
    }
}