nav{
    float: right;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    list-style: none;
}

ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

 ul li a:hover,
 ul li a.active{
    transition: 0.5s;
}

.imglogo{
    width: 11%;
}

@media (max-width: 768px){
    .menu-toggle{
        margin-top: 0;
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        margin-left: 300px;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: skyblue;
    }

    #menu{
        margin-left: 30px;
    }

    .menu-toggle::before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .menu-toggle.active::before{
        content: '\f00d';
    }

    ul{
        display: none;
    }

    ul.active{
        display: block;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-left: -460px;
    }

    ul.active ul{
        display: block;
    }

    ul.active ul li{
        margin: 0;
    }
}